.replit
.streamlit/config.toml
app.py
pyproject.toml
uv.lock
generated-icon.png
replit.nix
.pythonlibs
.upm
.ssh_persistente
configurar_ssh.sh
U1/tarefa1/multiplication
U1/tarefa2/pipeline
U1/tarefa2/pipeline_O0
U1/tarefa2/pipeline_O2
U1/tarefa2/pipeline_O3
U1/tarefa3/contador
U1/tarefa3/teste
U1/tarefa3/teste.c
U1/tarefa4/memoryBound
U1/tarefa4/cpuBound